
    <div class="container">
        <h1 class="text-center">Все профили</h1>
        <form role="form" action="<?= REL_URL . '/profile/index' ?>"
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>...</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>

    <script>
        // it's for Avatar
        var REL_URL = "<?= REL_URL ?>";
    </script>


