<script src=" <?= REL_URL . '/ckeditor/' ?>ckeditor.js"></script>
<div class="container">
    <h1 class="text-center">Тест Менеджер</h1>
    <div class="row">
        <div class="col-md-3" id="tests-menu">
            <?php $user_uri_language = '/admin/manager/edit-language/'; //links for left panel?>
            <?php $user_uri_test = '/admin/manager/edit-test/'; ?>
            <?php include VIEW_PATH . DS . 'test_panel.html' ?>
        </div>
<!-- EDIT Test name-->
        <div class="col-md-9">
            <form class="jumbotron-blue" role="form" action="<?= REL_URL . '/admin/manager/edit-test/'.$data['params'] ?>" method="POST">
                <div class="form-inline form-horizontal">
                    <div class="form-group">
                        <label for="test-name">Имя теста:</label>
                        <input id="test-name" class="form-control" type="text" name="test_name"
                               required="required" value="<?= $data['test_name'] ?>">
                    </div>
                    <div class="form-group">
                        <input type="text" hidden name="save_test" value="save">
                        <input type="submit" class="btn btn-info" value="Сохранить">
                        <a class="btn btn-danger" href="<?= REL_URL . '/admin/manager/delete-test/'.$data['params'] ?>">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </div>
                </div>

<!-- EDIT QUESTIONS NAME-->
                <hr>
                <?php if (isset($data['questions']) && $data['questions'] != null) : ?>
                    <div class="row question-list">
                    <?php foreach ($data['questions'] as $question_num => $question) : ?>
                        <div class="col-xs-1">
                            <span><?= ($question_num + 1).'. ' ?></span>
                        </div>
                        <div class="col-xs-10">
                            <a href="<?= REL_URL . "/admin/manager/edit-test/" . $data['params'] . "/" ?><?= $question->id ?>">
                                <?=  mb_substr($question->question, 0, 55).'...' ?>
                            </a>
                        </div>
                        <div class="col-xs-1">
                            <a class="btn btn-danger"
                               href="<?= REL_URL . '/admin/manager/delete-test/'.$data['params'] . "/" ?><?= $question->id ?>">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </div>
                    <?php endforeach ?>
                    </div>
                </ol>
                <?php endif ?>
                <?php if (!isset($data['current_question'])) : ?>
                <div>
                    <input type="text" hidden name="edit_test" value="save">
                    <a href="<?= REL_URL . '/admin/manager/save-test/' . $data['params'] ?>"
                       type="submit" class="btn btn-success pull-left">Добавить вопрос</a>
                </div>
                <?php endif; ?>

<!--EDIT QUESTION and ANSWERS-->
            <?php if (isset($data['current_question']) && $data['current_question'] != null) : ?>
                <div class="page-header form-group">
                    <label for="InputQuestion">Введите вопрос:</label>
                    <textarea class="form-control" id="InputQuestion" name="question"><?=
                        $data['current_question']->question;
                    ?></textarea>
                    <script>
                        CKEDITOR.replace( 'question' );
                    </script>
                </div>
<!--                <div class="form-group">-->
<!--                    <label for="InputFile">Загрузка картинки:</label>-->
<!--                    <input type="file" id="InputFile">-->
<!--                </div>-->
                <h3>Ответы:</h3>
                <div id="answer-list">

                    <?php foreach ($data['answers'] as $answer) : ?>
                        <div class="form-group row">
                            <div class="col-sm-1">
                                <input type="checkbox" <?= (is_numeric($answer->is_true)) ? 'checked' : '' ?>
                                       name="answer_true[]" value="<?= $counter = isset($counter) ? ++$counter : 0 ?>">
                            </div>
                            <div class="col-sm-11">
                                <textarea  class="form-control" name="answer[]"><?= $answer->answer ?></textarea>
                            </div>
                        </div>
                    <?php endforeach ?>

                </div>
                <div id="answer-controll" class="form-group text-center">
                    <input type="button" class="btn btn-success" id="add-answer" value="+ Add answer">
                    <input type="button" class="btn btn-danger" id="remove-answer" value="- Remove answer">
                </div>

                <div>
                    <input type="text" hidden name="save_test" value="save_question">
                    <input type="submit" class="btn btn-info btn-lg pull-right"  value="Save question">
                </div>
            <?php endif ?>
            </form>
        </div>
    </div>
</div>


<script>
    $('#InputQuestion').focus();
</script>

