<div class="container">
    <h1 class="text-center">Test Manager</h1>
    <div class="row">
        <div class="col-md-3" id="tests-menu">
            <?php include VIEW_PATH . DS . 'admin_test_panel.html' ?>
        </div>

        <div class="col-md-7">
            <form action="<?= REL_URL . '/admin/manager/save-test' ?>" method="POST">
                <p>Choose test language:
                    <select name="set_language">
                        <option value="" selected>--- not set --- </option>
                        <?php foreach ($data['languages'] as $languages) : ?>
                            <option value="<?= $languages->id ?>"> <?= $languages->language ?> </option>
                        <?php endforeach ?>
                    </select>
<!--                  // TODO  make checkbox which switchs between select and input boxes-->
                    or add new <input type="text" name="add_language">
                </p>
                <p>Write test name <input type="text" name="test_name" required = "required"></p>
                <div>
                    <input type="text" hidden name="save_test" value="save">
                    <input type="submit" class="btn btn-info btn-lg pull-left">Create</input>
                </div>
            </form>
        </div>
    </div>
</div>

