<div class="container">
    <h1 class="text-center">Test Manager</h1>
    <div class="row">
        <div class="col-md-3" id="tests-menu">
            <?php include VIEW_PATH . DS . 'test-panel.html' ?>
        </div>

        <div var_dump>
            <?= isset($this->data['var_dump']) ? $this->data['var_dump'] : '' ?>
        </div>

        <div class="col-md-7">
            <form action="<?= REL_URL . '/admin/manager/save-test' ?>" method="POST">
                <div class="form-group">
                    <label for="InputQuestion">Введите вопрос:</label>
                    <textarea class="form-control" id="InputQuestion" name="question"></textarea>
                </div>
                <div class="form-group">
                    <label for="InputFile">Загрузка картинки:</label>
                    <input type="file" id="InputFile">
                </div>
                <h3>Ответы:</h3>
                <div id="answer-list">
                    <div class="form-group row">
                        <div class="col-sm-1">
                            <input type="checkbox" name="answer_true[]">
                        </div>
                        <div class="col-sm-11">
                            <textarea  class="form-control" name="answer[]"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-1">
                            <input type="checkbox" name="answer_true[]">
                        </div>
                        <div class="col-sm-11">
                            <textarea  class="form-control" name="answer[]"></textarea>
                        </div>
                    </div>
                </div>
                <div id="answer-controll" class="form-group text-center">
                    <input type="button" class="btn btn-success" id="add-answer" value="+ Add answer">
                    <input type="button" class="btn btn-danger" id="remove-answer" value="- Remove answer">
                </div>
                <div>
                    <input type="text" hidden name="save_test" value="save_question">
                    <input type="submit" class="btn btn-info btn-lg pull-right"  value="Save question">
                </div>
            </form>
        </div>
    </div>
</div>

