<div class="container">
    <h1 class="text-center">Tests</h1>
    <h2>All tests</h2>
    <div class="row">
        <div class="col-md-3" id="tests-menu">
            <?php $user_uri_test = '/test/language/';?>
            <?php $user_uri_language = null; ?>
            <?php include VIEW_PATH . DS . 'test_panel.html' ?>
        </div>
        <div class="col-md-7">
            <div class="jumbotron-blue">
                <h2>Выберите тест для прохождения</h2>
                <p >Данный тест поможет вам определить уровень вашей подготовки.</p>
                <p>Каждый тест можно проходить не больше чем 1 раз в сутки. </p>
                <p> Удачи Вам, держитесь тут и хорошего настроения.</p>
            </div>
        </div>
    </div>
</div>

