<div class="container white-transp margin--top-good jumbo-paddings">
        <div id="pagination-bar" class="text-right">
            <ul class="pagination">
    <!--            <li><a href="#1" class="active"> Первая </a></li>-->
                <li><a class="pagination-prev"> << </a></li>
                <?php $question_counter = sizeof($this->data['dataTest']) - 1?>
                <?php for ($pag_page = 1 ; $pag_page <= $question_counter ; $pag_page++ ) : ?>
                    <li class="numbers"><a href="#<?= $pag_page ?>"><?= $pag_page ?></a></li>
                <?php endfor; ?>
                </li>
                <li><a class="pagination-next"> >> </a></li>

            </ul>
    </div>

    <form id='testForm' role="form" action="<?= REL_URL . '/test/end'?>" method="post">
        <?php $question_counter = 1; ?>
        <div id="content-pagination">
            <?php foreach ($this->data['dataTest'] as $question_num => $question_data) : ?>
                <?php if (!is_numeric($question_num)) :?>
                    <?php if ($question_num == 'test_id'): ?>
                        <input type="text" hidden value="<?= $question_data ?>" name="test_id">
                    <?php endif; ?>
                        <?php continue; ?>
                <?php endif; ?>

    <!--        QUESTION START -->
                <div class="page-number-<?= $question_counter?> form-group" style="display: none">
                    <div>
                        <h3>Вопрос:</h3>
                            <div name="question" class="question bg--grey-transp">
                                <?=
                                Tests::filter($question_data['question']);
                            ?></div>
                    </div>
        <!--        <div class="form-group">-->
        <!--            <label for="InputFile">Загрузка картинки:</label>-->
        <!--            <input type="file" id="InputFile">-->
        <!--        </div>-->

                    <h3>Ответы:</h3>
                    <div class="container">
                            <?php  foreach ($question_data as $answer_num => $answer) : ?>
                            <?php if (!is_numeric($answer_num)) continue; ?>
                            <div class="checkbox-middle">
                                    <div class="inline">
                                        <input id="answer-<?= $answer_num ?>" type="checkbox"
                                               name="user_answers[<?= $question_num ?>][<?= $answer_num ?>]" value="1">
                                    </div>
                                    <div class="inline">
                                        <label for="answer-<?= $answer_num ?>">
                                            <?= nl2br(htmlentities($answer)); ?>
                                        </label>
                                    </div>
                            </div>
                            <?php endforeach ?>
                    <?php  ++$question_counter ?>
                    </div>
                </div>
            <?php endforeach ?>
        </div>
        <div id="taskTimer" class="timer" style="display: none">
            <span></span> :
            <span></span> :
            <span class="min"></span>
        </div>
<!--        QUESTION END-->
<nav class="sidebar">

    <button class="btn btn-lg btn-primary pagination-next" type="button">
        Следущий
    </button>
    <input type="text" hidden value="<?= $this->data['startTime'] ?>" name="timer">
    <input type="text" hidden name="end_test" value="end_test">
    <input type="submit" class="btn btn-danger btn-lg pull-right finish" style="display: none"  value="Закончить">
</nav>


    </form>

</div>

<script>
    /*  ---PAGINATION---  */

    var lastPage = <?= $question_counter - 1 ?>;
    var numbers = $('.numbers');
    var page = window.location.hash;
    page = page.substr(1);
    if (window.location.hash == '' || page =='1') {
        page = 1;
        window.location.hash = '1';
    }


    $('.pagination-prev').parent().after('<li class="pag-hider"><a>...</a></li>');
//    numbers.hide();
    $('.pag-hider').hide();
    paginationStart(lastPage);


    function checkFinish(lastPage)
    {
        if ((window.location.hash).substr(1) == lastPage) {
            $('.finish').fadeIn(1000);
        }
    };

    function paginationStart(lastPage)
    {
        var page = window.location.hash;
        page = page.substr(1);

        $('#content-pagination').children().hide();
        $("#pagination-bar li").removeClass('active');
        $("#pagination-bar a[href='#"+page+"']").parent().addClass('active');
        $('.page-number-' + page).fadeIn(500);
        checkFinish(lastPage);
    };

    $(window).bind('hashchange', function() {
        paginationStart(lastPage);
    });

    $('.pag-hider').on('click', function() {
        $(this).hide();
        numbers.fadeIn(1000);
    });
    $('.pagination-prev').on('click', function() {
        var page = window.location.hash;
        page = page.substr(1);
        if ( +page > 1 ) {
            window.location.hash = +page - 1;

        }
    });
    $('.pagination-next').on('click', function() {
        var page = window.location.hash;
        page = page.substr(1);
        if ( +page < lastPage ) {
            window.location.hash = +page + 1;
        }
    });
    /*  ---PAGINATION---  END*/
//    TIMER
    function startTimer(lastPage, minsOnTask = 1) {
        var timerTime = new Date(0,0,0,0,0,0);
        timerTime.setMinutes(lastPage * minsOnTask);
        $('#taskTimer').fadeIn(3000);

        setInterval(function() {
                timerTime.setSeconds(timerTime.getSeconds() - 1);
                if (timerTime.getHours() == 0 && timerTime.getMinutes() == 0 && timerTime.getSeconds() == 0) {
                    $('#testForm').submit();
                }
                setMyTimer(timerTime);
            }, 1000, timerTime);

    };

    function setMyTimer(timerTime) {
        var timerObj = $('#taskTimer');
        timerObj.children()[0].innerText = timerTime.getHours();
        timerObj.children()[1].innerText = timerTime.getMinutes();
        timerObj.children()[2].innerText = timerTime.getSeconds();
    };

    startTimer(lastPage);
    console.log('test');
// TIMER END

    $( window ).on( "unload", function() {
        $('#testForm').submit();
    });




</script>